@using BlazorDemoPOC.Models

<div class="w-fit mx-auto p-2">
    <a class="text-white font-bold text-2xl" href="">BlazorDemoPOC</a>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column p-2 gap-x-10">
        <div class="hover:bg-gray-500 hover:bg-opacity-20 p-2 hover:font-extrabold">
            <NavLink class="w-full block" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>

        <div class="hover:bg-gray-500 hover:bg-opacity-20 p-2 hover:font-extrabold">
            <NavLink class="w-full block" href="weather">
                Weather
            </NavLink>
        </div>

        @foreach(var topic in Topics){
            <div class="hover:bg-gray-500 hover:bg-opacity-20 p-2 hover:font-extrabold">
                <NavLink class="w-full block" href="@topic.Url">
                    @topic.Description
                </NavLink>
            </div>
        }
    </nav>
</div>

@code{
    [Parameter, EditorRequired] public bool _isDarkMode {get; set;}
    [Parameter, EditorRequired] public EventCallback<bool> OnSwitchClicked {get; set;}
    [CascadingParameter(Name = "navlinks")] public List<Topics> Topics {get; set;}

    public void SwitchClicked(bool newValue){
        OnSwitchClicked.InvokeAsync(newValue);
    }

    public void test()
    {
        System.Diagnostics.Debug.WriteLine("Got here");
    }
}