<div class="@className" id="card-footer">
    @ChildContent
</div>
@code {
    [Parameter] public string? className { get; set; } = "";
    [Parameter, EditorRequired] public RenderFragment? ChildContent { get; set; }
}
