<button class="bg-sky-400 p-2 rounded-md hover:bg-sky-500 @className" @onclick="clickCallback">
    Click Me!
</button>
@code {
    [Parameter] public EventCallback clickCallback { get; set; }
    [Parameter] public string? className { get; set; } = "";
    @* [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; } *@
}
