@page "/di"

<h1 class="text-3xl">Dependency Injection Page.</h1>

<p class="my-4">Links</p>
<a class="block hover:underline text-blue-400 w-fit my-2" target="_blank" href="https://learn.microsoft.com/en-us/aspnet/core/blazor/fundamentals/dependency-injection?view=aspnetcore-9.0">Dependency Injection</a>
<a class="block hover:underline text-blue-400 w-fit my-2" target="_blank" href="https://learn.microsoft.com/en-us/aspnet/core/blazor/components/render-modes?view=aspnetcore-9.0#client-side-services-fail-to-resolve-during-prerendering">DI In Client Components</a>