@page "/review"

<h1 class="text-3xl font-bold mb-3">It's not the best...</h1>

<p class="mb-2">Here are some of the problems I have encountered with Blazor that makes the DX not very enjoyable.</p>
<div class="grid grid-cols-2 gap-10">
    <div>
        <img src="images/vsbadintellisense.png" />
    </div>
    <div>
        <p class="mb-2">Intellisense in VS breaks <span class="font-bold">often.</span> Expect to have to reopen and close frequently. </p>
        <p class="mb-2">I've had better luck with VS Code but I know not everyone is quite as 
            fond with it as I am. VS Code for .NET development also has it's quirks as well. 
            The C# Dev Kit extension is not up to par with any other language's lsp. 
            It's often slow and errors are sometimes not helpful leading to bad DX.
        </p>
        <p class="mb-2"></p>
        <p class="mb-2"></p>
        <p class="mb-2"></p>
        <p class="mb-2"></p>
        <p class="mb-2"></p>
    </div>
</div>