@page "/review"
@using BlazorDemoPOC.Components.UI.Blog

<Blog Title="A review of Blazor" TableOfContents="toc">
    <p>Here are some of the problems I have encountered with Blazor that makes the DX not very enjoyable.</p>
    <div class="grid grid-cols-2 gap-10">
        <div>
            <img src="images/vsbadintellisense.png" />
        </div>
        <div>
            <p>Intellisense in VS breaks <span class="font-bold">often.</span> Expect to have to reopen and close frequently. </p>
            <p>I've had better luck with VS Code but I know not everyone is quite as 
                fond with it as I am. VS Code for .NET development also has it's quirks as well. 
                The C# Dev Kit extension is not up to par with any other language's lsp. 
                It's often slow and errors are sometimes not helpful leading to bad DX.
            </p>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
        <div class="col-span-2">
            Logging is incredibly difficult. 
            You either have to use Console.WriteLine or System.diagnostics.debug.writeline to print out to the log/debugger. 
            It's very frustrating compared to other languages. Using a helper function that loops through the properties and prints it makes it workable. 
            It's just unfortunate that you have to go through such hoops especially working in a WASM environment where breakpoint's don't work.
        </div>
    </div>
</Blog>


@code {
        public Dictionary<string, string> toc = new(){};
}