:root{
    --theme-background: var(--mud-palette-background);
    --theme-color: black;
}
@media(prefers-color-scheme: dark ){
    :root{
        --theme-background: rgba(9,9,11);
        --theme-color: white;
    }
    main{
        background-color: var(--theme-background);
        color: var(--theme-color);
    }
}