:root{
    --theme-background: var(--mud-palette-background);
    --theme-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
@media(prefers-color-scheme: dark ){
    :root{
        --theme-background: #282828;
        --theme-color: white;
    }
    main{
        background-color: var(--theme-background);
        color: var(--theme-color);
    }
}